{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 160,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@api/(.*)$",
    "^@assets/(.*)$",
    "^@buttons/(.*)$",
    "^@common/(.*)$",
    "^@contexts/(.*)$",
    "^@header/(.*)$",
    "^@helpers/(.*)$",
    "^@hooks/(.*)$",
    "^@pages/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
